#main_content{
    display: inline-block;
    margin-top: 1%;
    margin-left: 3%;
    width: 60%;
}
#content_settings span{
    color: #3c3c3c;
    font-size: 14px;
    padding-right: 10px;
}
#content_settings select{
    width: 100%!important;
    color: #169CCD!important;
    border-bottom: 2px dashed #169CCD!important;
    border: none!important;
    border-radius: 0;
    font-size: 14px;
    font-family: 'Circe-Regular', sans-serif;
    text-align: left!important;
    padding: 0px;
    outline: none;
    background: none;
    background-position: 100% 50%;
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none;
    border-color: #8e8e8e;
    -moz-appearance: none;
    appearance: none!important;
    max-width: 146px!important;
    float: none;
    text-transform: none;
}
.carret-catalog-icon:after {
    content: url(../../public/resources/img/carret.png);
    width: 12px;
    height: 5px;
    vertical-align: text-top;
    margin-left: 6px;
}
#view_card{
    float: right;
    display: inline-block;
    width: 28px;
    height: 26px;
    background: url(../../public/resources/img/list.png) 28px 0px;
}
#view_card.active{
    width: 28px;
    display: inline-block;
    height: 26px;
    background: url(../../public/resources/img/list.png) 0px 0px;
}
#view_list{
    margin-left: 1.5%;
    display: inline-block;
    float: right;
    width: 28px;
    height: 26px;
    background: url(../../public/resources/img/list.png) 28px 26px;
}
#view_list.active{
    width: 28px;
    display: inline-block;
    height: 26px;
    background: url(../../public/resources/img/list.png) 0px 27px;
}
.card{
    border: none;
    border-color: transparent;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
    border-radius: 7px;
    max-width: 270px;
    margin-bottom: 24px;
   text-align: center;
}
.car_image img{
    width: -webkit-fill-available;
}
.car_info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 7%;
}
#main_content h3{
    width: 150px;
}
.car_year{
    color: rgb(192, 19, 19);
}
.car_probeg{
    margin-left: 30px;
}
.card span{
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}
.car_price{
    padding-top: 3%;
}
.car_price span{
    font-size: 20px!important;
}
.car_price .eng{
    color: rgb(23, 177, 23)!important;
}
.car_prop{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.details_btn{
    background: #E40C25;
    border-color: #E40C25;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
.details_btn:hover{
    background-color: #E40C2599;
    border-color: #E40C2599;
}
#cars{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 5%;
}
#activateFilters{
    display: none;
    position: fixed!important;
    left: 30%;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.726);
    font-size: 14px;
    align-items: center;
    justify-content: center;
    height: 30px;
}
#activateFilters a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: underline;
    height: 30px;
}