
body{
    margin: 0%;
    font-family: 'Circe-Regular', sans-serif;
}

                    /*Start Home-Header*/
header .header-top{
    display: flex;
    justify-content: space-around;
}
    .header-top .col_1{
        margin-top: 1.5%;
    }
    .header-top .col_2{
        margin-left: 30%;
        margin-top: 1.7%;
        font-size: small;
    }
    header .header-top a{
        text-decoration: none;
        color: rgb(148, 148, 148);
        font-size: 12px;
        
    }
hr{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 13%;
    width: 74%;
}

.title{
    text-decoration: none;
    color: rgb(61, 61, 61);
    font-size: 15px;
}
#img_logo{
    width: 150px;
}
header .row{
    display: flex;
    justify-content: center;
}
.contacts{
    display: flex;
    flex-direction: row;
}
.contacts a{
    color: #169CCD;
}
#phone_number , #div_social , #div_street{
    text-align: center;
    width: 250px;
}

#telephone_icon{
    font-size: 24px;
    margin-right: 5px;
    margin-top: 5px;
    color: rgb(163, 163, 163);
}
#telegram_icon , #facebook_icon , #instagram_icon , #youtube_icon{
    font-size: 35px;
    padding-left: 10px;
    color: rgb(163, 163, 163);

}
#pin{
    font-size: 40px;
    color: rgb(163, 163, 163);

}
#div_info{
    display: flex;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
#div_info-numbs{
    display: block;
    float: left;
    text-align: right;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: rgb(228, 12, 37);
    padding-right: 18px;
    font-size: 15px;
}
#div_info-numbs span{
    font-size: 30px;
}
.sp_2{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    line-height: 1.3;
    font-size: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
}
                    /*END Home-Header*/
                    /*START Home-Toolbar*/
#navigation{
    background: linear-gradient(90deg,#2a324a, #849297);
    width: 100%;
    height: 50px;
}
    #navigation .container{
    display: flex;
    }
        #navigation ul{
            display: flex;
            list-style: none;
        }
            #navigation li{
                margin-left: 165px;
            }
                #navigation ion-icon{
                    color: #FFFFFF;
                    font-size: 14px;
                } 
                    #navigation a{
                        text-decoration: none;
                    } 
.link{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 14px 0;
}
    #link-prodati{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1%;
        margin-left: 13%;
        width: 74%;
        height: 200px;
        background: linear-gradient(90deg,#2a3452, #849297);
        position: absolute;
        visibility: hidden;
    }
.div-link-prodati{
    background: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 25px;
    padding: 15px 0 12px 24px;

}
    .div-link-prodati:hover{
        background: rgba(255, 255, 255, 0.2);
    }
    #navigation .div-link-prodati ion-icon{
        font-size: 30px;
    }
    .div-link-prodati span{
        padding: 60px;
        user-select: none;
    }
    .div-link-prodati spec{
        color: rgb(228, 12, 37);
    }